body {
    margin: 0px;
    padding: 0px;

}

.side-bar-2-3-23 {
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 100 !important;

    background-color: black !important;
}
Q